.home {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.home__container__firstname {
    display: flex;
    flex-direction: column;
    /* border: solid 2px black; */
    margin: 0 auto;
    width: 80%;
    align-items: flex-start;
    margin-top: 8rem;
    margin-right: 4rem;
    height: 100%;
    position: relative;
}
.home__container__firstname h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
}
.home__container__firstname span {
    color: #ff0101;
}
.home__container__firstname p {
    font-weight: 400;
    color: black;
    font-size: 1.2rem;
    margin: 0;
}
.kaydata {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 3rem;
}
.home__container__firstname__graph {
    margin: auto 0;
    width: 75%;
    height: 100%;
}

.container_all_graph {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.container_last_graph {
    display: flex;
    justify-content: space-between;
    width: 67.5%;
    height: 100%;
}
