.graph {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    background-color: #fbfbfb;
    margin-top: 3rem;
}
.container_p_span {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1.5rem;
}
.container_p_span .p1::before {
    content: "";
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-color: #282d30;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.container_p_span .p2::before {
    content: "";
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-color: red;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.activity {
    padding-left: 2.8rem;
}
.container_block_up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
@media screen and (max-width: 1745px) {
    .graph {
        width: 100%;
    }
    .home__container__firstname__graph {
        width: 100%;
    }
}
